// generic margin padding
@for $i from 1 to 7 {
  .mt-#{$i*10} {
    margin-top: #{$i * 10}px;
  }
  .mb-#{$i*10} {
    margin-bottom: #{$i*10}px;
  }
  .ml-#{$i*10} {
    margin-left: #{$i*10}px;
  }
  .mr-#{$i*10} {
    margin-right: #{$i*10}px;
  }
  .pt-#{$i*10} {
    margin-top: #{$i*10}px;
  }
  .pb-#{$i*10} {
    padding-bottom: #{$i*10}px;
  }
  .pl-#{$i*10} {
    padding-left: #{$i*10}px;
  }
  .pr-#{$i*10} {
    padding-right: #{$i*10}px;
  }
}


.text-center {
  text-align: center;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-grid {
  display: grid;
}
.d-inline-block {
  display: inline-block;
}

input.algolia__input,
input.bottom-subscribe {
  border-radius: 8px;
  font-size: 17px
}

input.algolia__input {
  background: url("https://d33wubrfki0l68.cloudfront.net/e10fdd9ca1b84917cc85418bf37c4cd923847ae7/f6e7b/assets/img/search.svg") 7px 50%/1em 1em no-repeat rgba(0, 0, 0, 0.1);
  background: url("https://d33wubrfki0l68.cloudfront.net/e10fdd9ca1b84917cc85418bf37c4cd923847ae7/f6e7b/assets/img/search.svg") 7px 50%/1em 1em no-repeat var(--subtle);
  transition: all .2s ease-out;
  width: 140px;
  padding-left: 1.8em;
  border-color: var(--subtle);
  color: #fff;
  padding-bottom: .4em;
  padding-top: .4em;
}

input.algolia__input:focus {
  width: 180px
}
@media #{$mobile} {
  input.algolia__input:focus {
    width: 145px
  }
}

.button,
button.small,
div a.button {
    background-image: linear-gradient(to bottom, var(--bg), var(--bg4));
    border-radius: 8px;
    color: var(--green3);
    letter-spacing: 1px;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0 0 10px var(--subtle);
    font: inherit;
    text-decoration: none;
    transition: transform .15s cubic-bezier(0, 1.8, 1, 1.8)
}
.button:hover,
button.small:hover,
div a.button:hover {
    transform: scale(1.05)
}
.progress {
    background: linear-gradient(to right, var(--subtle-green1) var(--scroll), transparent 0);
    position: fixed;
    width: 100%;
    height: 4px;
    z-index: 3;
}
div.top:hover {
    opacity: 1;
}
.button,
button,
label {
    cursor: pointer;
}
.top{
  position: fixed;
  bottom: 3rem;
  border-radius: 6px;
  font-size: 1.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  transition: all .2s ease-out;
  right: 3.5rem;
  color: var(--code);
  border: 2px solid rgba(220, 57, 88, .15);
  width: 50px;
  opacity: 0;
  transform: translateY(7rem);
  font-weight: 700;
}
@media only screen and #{$desktop} {
    .top.top-active {
      opacity: .6;
      transform: translateY(0)
    }
}
