#navigation {
  box-shadow: 0 2px 20px 0 var(--subtle);
  nav {
    background: linear-gradient(to right, var(--top1), var(--top2));
    height: 3.75em;
    /*overflow: hidden;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 .9rem;
    a#logo {
      margin-left: 20px;
      color: #fff;
      font-weight: bold;
      font-size: 24px;
    }

    #search-and-menu {
      display: grid;
      grid-template-columns: auto 30px;
      grid-gap: 20px;
      @media screen and #{$mobile} {
        grid-gap: 10px;
        grid-template-columns: auto 26px;
      }
      a#burger {
        color: #fff;
        font-size: 24px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    div.nav-menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: var(--top2);
      padding-right: 1em;
      box-sizing: border-box;
      padding-bottom: 20px;
      div.nav-menu-inner {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-column-gap: 15px;
        @media screen and #{$mobile} {
          grid-template-columns: 1fr;
        }
        h2 {
          text-align: center;
          font-size: var(--menu-title);
          font-weight: bold;
          color: var(--yellow3);
          margin-top: 1em;
          margin-bottom: .3em;
        }
        li {
          &.active {
            background: var(--subtle);
          }
        }
        .font-size-block {
          ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 10px;
          }
          li {
            display: inline-block;
            position: relative;
            &:before {
              position: absolute;
              content: 'A';
              display: inline-block;
              color: var(--yellow1);
              font-size: 16px;
              top: 2px;
              left: 10px;
              background: var(--bg3);
              padding: 1px 5px;
              font-weight: bold;
            }
          }
          li.large-font-selector {
            &:before {
              font-size: 24px;
              top: 0;
            }
          }
          li.small-font-selector{
            &:before {
              font-size: 12px;
              top: 4;
            }
          }
       }

        .theme-block {
          ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 10px;
          }
          li {
            display: inline-block;
            position: relative;
            &:before {
              position: absolute;
              left: 10px;
              top: 6px;
              content: ' ';
              border-radius: 50%;
              width: 1.2em;
              height: 1.2em;
              display: inline-block;
              vertical-align: middle;
              margin-top: -3px;
              border: 2px solid var(--yellow1);
              box-shadow: 0 0 5px var(--subtle);
            }
          }
          li.light-theme-selector {
            &:before {
              background: #fff;
              border: 2px solid #6db65b;
            }
          }
          li.dark-theme-selector {
            &:before {
              background: #222831;
            }
          }
          li.solarized-theme-selector {
            &:before {
              background: #fdf6e3;
            }
          }
       }
      }
      ul.parent-menu {
        margin: 0;
        padding: 0;
      }
      li {
        text-align: center;
        &.has-dropdown {
          >a {
            /*border-bottom: 2px solid var(--yellow1);*/
          }
        }
        a {
          display: block;
          text-transform: capitalize;
          color: #fff;
          text-decoration: none;
          font-size: 1.2em;
          &:hover {
            background: var(--yellow1);
            font-weight: bold;
          }
        }
        ul.dropdown {
          display: inline-block;
          margin-left: 43px;
          border-left: 2px solid var(--yellow1);
          li {
            text-align: left;
            position: relative;
            padding-left: 10px;
            &:before {
              position: absolute;
              content: '';
              height: 2px;
              width: 10px;
              top: 50%;
              left: 0;
              background: var(--yellow1);
            }
          }
          a {

          }
        }
      }
    }

    form#search-form {

    }
    .font-size-block {
      li {

      }
    }
  }
}

