#navigation {
  box-shadow: 0 2px 20px 0 var(--subtle);
  nav {
    background: linear-gradient(to right, var(--top1), var(--top2));
    height: 3.75em;
    overflow: hidden;

    a#logo {

    }

    ul#nav-menu {
      
    }

    form#search-form {
    }
  }
}

