 :root {
  --bg: #fff;
  --bg2: #fafafa;
  --bg3: #fcfcfc;
  --bg4: #f8f8f8;
  --footer-bg: rgba(114, 186, 94, .15);
  --code: #dc3958;
  --code-text: #6C7757;
  --code-comment: #9AA880;
  --text-color: #555;
  --pale-text: #999;
  --info-box-text: #84613d;
  --gs0: #eee;
  --gs1: #CCC;
  --gs2: #AAA;
  --green1: #008f68;
  --green2: #6DB65B;
  --green3: #4AAE9B;
  --yellow1: #EFBB35;
  --yellow2: #dfa612;
  --yellow3: #FAE042;
  --subtle: rgba(0, 0, 0, .1);
  --very-subtle: rgba(0, 0, 0, .05);
  --top1: rgba(107, 183, 86, .95);
  --top2: rgba(0, 143, 104, .95);
  --subtle-green1: rgba(114, 186, 94, 0.55);
  --subtle-green2: rgba(114, 186, 94, 0.05);
  --subtle-yellow1: rgba(239, 187, 53, 0.6);
  --subtle-yellow2: rgba(236, 198, 48, .1);
  --subtle-yellow3: rgba(236, 198, 48, .3);
  --fb: #3b5998;
  --reddit: #FC471E;
  --h-news: #F60;
  --twitter: #00aced;
  --cat-head: rgba(114, 186, 94, 0.1);
  --front-text-color: #93a791;
  --info-box-bg: rgba(255, 213, 70, 0.1)
}

.dark {
    --bg: #222831;
    --bg2: rgba(0, 0, 0, .3);
    --bg3: #1A1D24;
    --bg4: black;
    --footer-bg: rgba(0, 0, 0, .3);
    --code: #F59BAC;
    --code-text: #FAD7A0;
    --code-text: #FEE6C0;
    --code-comment: #81899B;
    --text-color: #F9FFEE;
    --pale-text: #dfa612;
    --info-box-text: antiquewhite;
    --gs0: rgba(239, 187, 53, 0.6);
    --gs1: rgba(239, 187, 53, 0.6);
    --green1: #EFBB35;
    --green2: #E84279;
    --green3: #dfa612;
    --top1: #302E24;
    --top2: #28313E;
    --subtle-green1: rgba(236, 198, 48, .1);
    --subtle-green2: #1A1D24;
    --subtle-yellow3: rgba(236, 198, 48, .1);
    --fb: #fff;
    --reddit: #fff;
    --h-news: #fff;
    --twitter: #fff;
    --cat-head: #1A1D24;
    --front-text-color: antiquewhite;
    --info-box-bg: #1A1D24;
}

.solarized {
    --bg: #fdf6e3;
    --bg2: #fffaef;
    --bg3: #fcf9ef;
    --bg4: #fffaed;
    --code: #d33682;
    --code-text: #586e75;
    --code-comment: #93a1a1;
    --text-color: #586e75;
    --info-box-text: #073642;
    --gs0: rgba(181, 137, 0, 0.3);
    --green1: #657b83;
    --green2: #2aa198;
    --yellow1: #dbab15;
    --yellow2: #b58900;
    --yellow3: #b58900;
    --top1: #afaa9a;
    --top2: #d6d0be;
    --subtle-green1: rgba(147, 161, 161, 0.5);
    --subtle-green2: #eee8d5;
    --subtle-yellow3: rgba(181, 137, 0, 0.3);
    --fb: #657b83;
    --reddit: #657b83;
    --h-news: #657b83;
    --twitter: #657b83;
    --cat-head: rgba(175, 170, 154, 0.1);
    --front-text-color: #93a791;
    --info-box-bg: #eee8d5;
}
