:root {
  --bg: #fff;
  --bg2: #fafafa;
  --bg3: #fcfcfc;
  --bg4: #f8f8f8;
  --footer-bg: rgba(114, 186, 94, .15);
  --code: #dc3958;
  --code-text: #6C7757;
  --code-comment: #9AA880;
  --text-color: #555;
  --pale-text: #999;
  --info-box-text: #84613d;
  --gs0: #eee;
  --gs1: #CCC;
  --gs2: #AAA;
  --green1: #008f68;
  --green2: #6DB65B;
  --green3: #4AAE9B;
  --yellow1: #EFBB35;
  --yellow2: #dfa612;
  --yellow3: #FAE042;
  --subtle: rgba(0, 0, 0, .1);
  --very-subtle: rgba(0, 0, 0, .05);
  --top1: rgba(107, 183, 86, .95);
  --top2: rgba(0, 143, 104, .95);
  --subtle-green1: rgba(114, 186, 94, 0.55);
  --subtle-green2: rgba(114, 186, 94, 0.05);
  --subtle-yellow1: rgba(239, 187, 53, 0.6);
  --subtle-yellow2: rgba(236, 198, 48, .1);
  --subtle-yellow3: rgba(236, 198, 48, .3);
  --fb: #3b5998;
  --reddit: #FC471E;
  --h-news: #F60;
  --twitter: #00aced;
  --cat-head: rgba(114, 186, 94, 0.1);
  --front-text-color: #93a791;
  --info-box-bg: rgba(255, 213, 70, 0.1);
}

.dark {
  --bg: #222831;
  --bg2: rgba(0, 0, 0, .3);
  --bg3: #1A1D24;
  --bg4: black;
  --footer-bg: rgba(0, 0, 0, .3);
  --code: #F59BAC;
  --code-text: #FAD7A0;
  --code-text: #FEE6C0;
  --code-comment: #81899B;
  --text-color: #F9FFEE;
  --pale-text: #dfa612;
  --info-box-text: antiquewhite;
  --gs0: rgba(239, 187, 53, 0.6);
  --gs1: rgba(239, 187, 53, 0.6);
  --green1: #EFBB35;
  --green2: #E84279;
  --green3: #dfa612;
  --top1: #302E24;
  --top2: #28313E;
  --subtle-green1: rgba(236, 198, 48, .1);
  --subtle-green2: #1A1D24;
  --subtle-yellow3: rgba(236, 198, 48, .1);
  --fb: #fff;
  --reddit: #fff;
  --h-news: #fff;
  --twitter: #fff;
  --cat-head: #1A1D24;
  --front-text-color: antiquewhite;
  --info-box-bg: #1A1D24;
}

.solarized {
  --bg: #fdf6e3;
  --bg2: #fffaef;
  --bg3: #fcf9ef;
  --bg4: #fffaed;
  --code: #d33682;
  --code-text: #586e75;
  --code-comment: #93a1a1;
  --text-color: #586e75;
  --info-box-text: #073642;
  --gs0: rgba(181, 137, 0, 0.3);
  --green1: #657b83;
  --green2: #2aa198;
  --yellow1: #dbab15;
  --yellow2: #b58900;
  --yellow3: #b58900;
  --top1: #afaa9a;
  --top2: #d6d0be;
  --subtle-green1: rgba(147, 161, 161, 0.5);
  --subtle-green2: #eee8d5;
  --subtle-yellow3: rgba(181, 137, 0, 0.3);
  --fb: #657b83;
  --reddit: #657b83;
  --h-news: #657b83;
  --twitter: #657b83;
  --cat-head: rgba(175, 170, 154, 0.1);
  --front-text-color: #93a791;
  --info-box-bg: #eee8d5;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.pt-10 {
  margin-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.pt-20 {
  margin-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.pt-30 {
  margin-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.pt-40 {
  margin-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.pt-50 {
  margin-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.pt-60 {
  margin-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.hljs-comment,
.hljs-quote {
  color: var(--code-comment);
}

.hljs-meta,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: var(--code);
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-deletion,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-params,
.hljs-type {
  color: var(--yellow1);
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
  color: var(--green1);
}

.hljs-function,
.hljs-keyword,
.hljs-selector-tag {
  color: var(--green2);
}

.hljs,
.nohighlight {
  display: block;
  overflow-x: auto;
  color: var(--code-text);
  padding: .9em .5em;
}

